<html>
    <body>
        <h1>Login</h1>
        <form action="/autenticazione" method="post" >
            username: <input type="text" name="username" id="username" /><br>
            password: <input type="text" name="password" id="password" /><br>
            <input type="submit" value="invio" />

        <p>Se non ti sei ancora registrato, <a href="/registrazione">Clicca qui per registrarti</a></p>
        <pd><a href="/indexhtml">Clicca qui per tornare indietro</a></pd><br>
        </form>
        <a href="/">Home</a>
    </body>
</html>