<html>
    <body>
        <h1>Registrazione</h1>
        <form action="/saveuser" method="post" >
            username: <input type="text" name="username" id="username" /><br>
            password: <input type="text" name="password" id="password" /><br>
            email: <input type="email" name="email" id="email" /><br>
            <input type="submit" value="invio" />
            <p><a href="/login">Clicca qui per tornare indietro</a></p><br>
        </form>
        <a href="/">Home</a>
    </body>
</html>